<manifest package="com.iapppay.lixue.loacationutil"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  //基站定位权限
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>//GPS定位权限
    <uses-permission android:name="android.permission.INTERNET" />//获取网络权限
</manifest>
